body{
    background-color: #EAF6F6;
}
hr{
    /* background-color: rgb(124, 122, 122); */
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: grey;
    width: 5%;
  }
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
table {
    border-collapse: separate;
    border-spacing: 0 5px;
}